:root {
  --gryffindorYellow-color: #d3a625;
  --gryffindorRed-color: #641e1e;
  --gold-color: #edc531;
  --ravenclawBlue-color: #0e1a40;
  --hufflepuffYellow-color: #ecb939;
}
*,
element {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.characters {
  position: relative; /* Ensure the container is positioned relative for the pseudo-element */
  width: 100%; /* Ensure the container takes full width */
  height: 100vh; /* Ensure the container takes full height */
  overflow: hidden; /* Hide any overflow */
  background: linear-gradient(
      rgba(0, 0, 0, 0.549),
      rgba(0, 0, 0, 0.725),
      rgba(0, 0, 0, 0.878)
    ),
    url(assets/background.png);
  background-size: cover;
  background-position: center; /* Center the background image */
}
/* Swiper Container */
.swiper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.swiper-slide img {
  margin-top: 24px;
  width: 100%;
  height: 240px; /* Set a fixed height */
  object-fit: cover;
  border-radius: 12px; /* Set 12px for each corner */
  display: block; /* Prevent any extra inline spacing */
}

.character-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #00001b;
  background-color: rgba(
    245,
    222,
    179,
    0.16
  ); /* Use rgba with lesser opacity */
  font-size: 1rem;
  font-weight: 900;
  border-radius: inherit;
  padding: 0 10px;
}

/* Swiper Pagination */
.swiper-pagination {
  position: relative; /* Position pagination relative to its container */
  text-align: center; /* Center-align the bullets */
  margin-top: 1rem;
  width: 100%; /* Match the width of the Swiper container */
  height: auto; /* Allow it to resize automatically */
}
/* Style the pagination bullets */
.swiper-pagination-bullet {
  width: 8px; /* Make the bullet larger for better visibility */
  height: 8px; /* Equal width and height for circular bullets */
  background: var(--gryffindorRed-color);
  border-radius: 50%; /* Make bullets fully circular */
  margin: 0 5px; /* Add spacing between bullets */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover or active state */
}

/* Adjust the bullet active */
.swiper-pagination-bullet-active {
  background: var(--gryffindorRed-color);
  transform: scale(1.5); /* Slightly enlarge the active bullet */
}
