:root {
  --yellow-color: #d3a625;
  --red-color: #641e1e;
  --green-color: #078f2a;
  --gold-color: #edc531;
}

.characters {
  position: relative; /* Ensure the container is positioned relative for the pseudo-element */
  width: 100%; /* Ensure the container takes full width */
  height: 100vh; /* Ensure the container takes full height */
  overflow: hidden; /* Hide any overflow */
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.9),
      rgba(34, 34, 34, 0.55),
      rgba(34, 34, 34, 0.6),
      rgba(34, 34, 34, 0.7),
      rgba(34, 34, 34, 0.9)
    ),
    url(assets/background.png);
  background-size: cover;
  background-position: center; /* Center the background image */
}
/* Swiper Container */
.swiper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  padding: 0; /* Reset padding */
  margin: 0; /* Reset margin */
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 10px 15px 12px #575757;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  display: block; /* Prevent any extra inline spacing */
}

.character-title {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--gold-color);
  background-color: #29292984;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: inherit;
  padding: 0 10px;
}

/* Swiper Pagination */
/* Ensure pagination is positioned below the Swiper container */
.swiper-pagination {
  position: relative; /* Position pagination relative to its container */
  text-align: center; /* Center-align the bullets */
  width: 100%; /* Match the width of the Swiper container */
  height: auto; /* Allow it to resize automatically */
}
/* Style the pagination bullets */
.swiper-pagination-bullet {
  width: 8px; /* Make the bullet larger for better visibility */
  height: 8px; /* Equal width and height for circular bullets */
  background: var(--red-color);
  border-radius: 50%; /* Make bullets fully circular */
  margin: 0 5px; /* Add spacing between bullets */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition for hover or active state */
}

/* Adjust the bullet active */
.swiper-pagination-bullet-active {
  background: var(--red-color);
  transform: scale(1.5); /* Slightly enlarge the active bullet */
}
