:root {
  --gryffindoryellow-color: #d3a625;
  --gryffindorred-color: #641e1e;
  --gold-color: #edc531;
  --ravenclawblue-color: #0e1a40;
  --hufflepuffyellow-color: #ecb939;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: "Sofia Sans", sans-serif;
  overflow-x: hidden;
  line-height: 1.6;
  text-align: center;
}
.nav-section {
  scroll-margin-top: 120px;
}
@media (max-width: 1000px) {
  .nav-section {
    scroll-margin-top: 80px;
  }
}
@media (max-width: 768px) {
  .nav-section {
    scroll-margin-top: 80px;
  }
}
@media (max-width: 375px) {
  .nav-section {
    scroll-margin-top: 60px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  transition: background-color 0.3s ease-in;
  padding: 0 20px;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease;
  background-color: #03045e;
}
.header-scroll {
  background-color: #00001b;
}
.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 24px 0;
}
.search-auth {
  display: flex;
  align-items: center;
  font-weight: 700;
  gap: 20px;
  margin-left: auto;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: #1c1d2c;
  border-radius: 20px;
  padding: 5px 15px;
}
.search-bar input {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 5px;
  font-size: 14px;
  outline: none;
}
.search-logo {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.header-logo {
  display: block;
  height: 62px;
  width: 168px;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.logo img {
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
}
.logo {
  width: 100%;
  margin: 0 auto;
  position: relative;
  object-position: bottom;
}
.image-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.login-btn,
.signup-btn {
  gap: 0;
  padding: 8px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border: transparent solid 2px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0;
}
.login-btn {
  background-color: #0b0c1e;
  color: #fff;
  border: #fff solid 2px;
}
.login-btn:hover {
  background-color: #fff;
  color: #000;
}
.signup-btn {
  border: solid 2px;
  background-color: #5758ff;
  color: #fff;
}
.signup-btn:hover {
  background-color: #0b163b;
}
.header-1 {
  padding: 20px 0;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: 24px;
}
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 80%;
  height: 100vh;
  z-index: 9999;
  background-color: rgb(255, 255, 255, 0.241);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: left 0.3s ease-in-out;
  overflow-y: auto;
}
.sidebar.show {
  left: 0;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  list-style: none;
}
.sidebar li:not(:first-child) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.sidebar a {
  width: 100%;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s;
  margin: 0;
}
.sidebar a:hover {
  color: #d3a625;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: wheat;
  font-size: 16px;
  transition: color 0.3s;
}
button.ham-open-btn {
  border: none;
  background: none;
  box-shadow: none;
  font: inherit;
  cursor: pointer;
}
.ham-open-btn {
  cursor: pointer;
  position: absolute;
  width: 26px;
  height: 26px;
  z-index: 10000;
  color: rgba(245, 222, 179, 0.746);
}
.ham-hide-btn {
  cursor: pointer;
  width: 26px;
  height: 26px;
  color: #00001b;
}
.ham-hide-btn:hover {
  color: #641e1e;
}
.exit-sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  gap: 10px;
  width: 100%;
  padding: 0 24px;
}
.exit-sidebar p {
  color: #641e1e;
}
.exit-sidebar p:hover {
  color: #d3a625;
}
@media (min-width: 1000px) {
  .header-1 {
    padding: 0;
  }
  .sidebar {
    display: none;
  }
  .ham-open-btn {
    display: none;
  }
  .ham-hide-btn {
    display: none;
  }
}
@media (max-width: 1000px) {
  .nav-bar {
    display: none;
  }
  .ham-open-btn {
    display: block;
  }
  .search-auth {
    display: none;
  }
}
.hero-container {
  border: none;
  outline: none;
  box-shadow: none;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  z-index: 1;
}
.hero-welcome-text {
  margin-top: 50px;
}
.hero-welcome-text h1 {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--gryffindorred-color);
}
.input {
  color: #ecb939;
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

.typed-cursor {
  font-size: 2rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.519);
  animation: blink 0.7s infinite;
}
@media (max-width: 768px) {
  .hero-welcome-text h1,
  .input {
    font-size: 1.4rem;
  }
}

@media (max-width: 414px) {
  .hero-welcome-text h1,
  .input {
    font-size: 1.1rem;
  }
}
@media (max-width: 375px) {
  .hero-welcome-text h1,
  .input {
    font-size: 1rem;
  }
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #03045e;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -999;
}
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

/* Houser container CSS */
.house-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
}
.house {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.house img {
  width: 64px;
  height: 64px;
}
.house img:hover {
  transform: scale(1.4);
}
.house a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.house p {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #00001b;
}
.house p:hover {
  text-transform: uppercase;
  font-weight: 900;
}
@media (max-width: 768px) {
  .house-container {
    flex-direction: column;
  }
  .house img {
    width: 42px;
    height: 42px;
  }
}
/* Accordion CSS */
#accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  background: linear-gradient(
    to right,
    var(--gryffindoryellow-color),
    var(--ravenclawblue-color)
  ); /* Gradient colors */
  gap: 20px;
  margin: 0 auto;
}
#accordion h1 {
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: uppercase;
  color: black;
}
.faq {
  width: 50vw;
  border-bottom: 1px solid #00001b;
}
.faq-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.3s ease-in;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.faq-question h3 {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6;
  text-align: left;
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  user-select: none;
  transition: max-height 0.3s ease-in;
}
.faq-answer p {
  padding: 10px 0px;
  line-height: 1.4;
  letter-spacing: 0.7px;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

.faq.active .faq-answer {
  max-height: 300px;
}
.faq.active .faq-icon {
  transform: rotate(180deg); /* Rotate the arrow up */
}

@media screen and (max-width: 768px) {
  .faq {
    width: 80vw;
  }
  .faq-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }
  .faq-question h3 {
    font-size: 1.2rem;
    text-align: left;
  }
}
@media screen and (max-width: 414px) {
  .faq {
    width: 90vw;
  }
  .faq-icon {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
  }
  .faq-question h3 {
    font-size: 1rem;
    text-align: left;
  }
}
/* Footer CSS */
.footer-container {
  background-color: #00001b;
  color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-end {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-top,
.footer-end {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  letter-spacing: 0.2px;
}
.footer-container::before,
.footer-container::after {
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 1px;
  opacity: 0.7;
  background-color: var(--gryffindoryellow-color);
}
.footer-divider {
  margin: 0 auto;
}
.footer-container::before {
  margin: 16px 0;
}
.footer-container::after {
  margin: 16px 0;
}
.footer-links {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
.footer-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: color 0.3s;
}
.footer-links a:hover {
  color: var(--gryffindoryellow-color);
}
.footer-links a:active {
  color: var(--gryffindorred-color);
}
.footer-logo-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.footer-logo img {
  width: 100px;
  height: auto;
}
.footer-text {
  font-weight: 100;
  letter-spacing: 1px;
  text-align: left;
  line-height: 1.6;
  order: 2;
}
.footer-trademark {
  text-transform: uppercase;
}
.footer-text a {
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 900;
  color: var(--gryffindorred-color);
}

.footer-text a:hover {
  color: var(--gryffindoryellow-color);
}
.footer-text a:active {
  color: var(--ravenclawblue-color);
}
.footer-social {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 1.4rem;
  position: relative;
  order: 1;
}
.footer-social a {
  color: #fff;
  transition: color 0.2s;
}
.footer-social a:hover {
  color: var(--gryffindoryellow-color);
}
.footer-social a:active {
  color: var(--gryffindorred-color);
}
@media (min-width: 768px) {
  .footer-end {
    flex-direction: row;
  }
  .footer-links {
    order: 1;
  }
  .footer-logo-container {
    order: 2;
  }
  .footer-social {
    order: 2;
  }
  .footer-text {
    order: 1;
  }
}
@media (max-width: 768px) {
  .footer-top,
  .footer-end {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-logo img {
    width: 80px;
  }
  .footer-social {
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-text {
    text-align: center;
  }
}
